package-import-method = copy

node-linker = hoisted

public-hoist-pattern = *
# shamefully-hoist = true

enable-pre-post-scripts = true # Default: false

# auto-install-peers = true
strict-peer-dependencies = false
